<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yangzhiwen.demo">

    <application
        android:name=".UserCenterApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.MAIN2" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN3" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CenterActivity" />

        <receiver android:name=".UserCenterReceiver">
            <intent-filter>
                <action android:name="user_center_msg" />
                <action android:name="222" />
            </intent-filter>
            <intent-filter>
                <action android:name="user_center_setting_msg" />
            </intent-filter>
        </receiver>

        <service android:name=".UserCenterService" />

        <provider
            android:name=".UserContentProvider"
            android:authorities="com.yangzhiwen.user"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".UserRemoteService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />
    </application>

</manifest>